@media (min-width: 960px){
  .section2 {
    min-height: 640px;
  }

  .section3 {
    min-height: 480px;
  }

  .section4 {
    min-height: 560px;
  }

  .section5 {
    min-height: 555px;
  }

  .section6 {
    min-height: 290px;
  }
}



//==========================

.bg-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.bg-image1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 68.68vw;
  height: 33.61vw;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 101%;
    background: linear-gradient(360deg, rgb(19, 33, 59) 0%, rgba(19, 33, 59, 0) 54%);
  }

  img {
    width: 100%;
    height: 100%;
    opacity: 0.2;
  }
}

.bg-image2 {
  position: absolute;
  right: -11vw;
  bottom: 21.8vw;
  width: 91.8vw;
  height: 68.541vw;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 101%;
    background:
            linear-gradient(16.11deg, #13213B 13.53%, rgba(255, 255, 255, 0) 49.06%),
            linear-gradient(180deg, #13213B 0%, rgba(255, 255, 255, 0) 57.14%)
    ;
  }

  img {
    width: 100%;
    height: 100%;
    opacity: 0.2;
  }
}

.bg-wave1 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 153.125vw;
  background: url("../images/wave1.svg") no-repeat;
  background-size: cover;
}

.bg-wave2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 65.2%;
  height: 66.8vw;
  background: url("../images/wave2.svg") no-repeat;
  background-size: cover;
}

.home-page {
  position: relative;
  background: #13213B;
  color: #ffffff;
  min-height: 191.59vw;

  .inner-page {
    overflow: hidden;
  }

  .header {
    padding-top: 28px;

    .navbar-brand {
      margin: 0;
      padding: 0;
    }

    .phones {
      color: #F2C94C;

      .icon-phone {
        width: 23px;
        height: 23px;
        stroke: #F2C94C;
        margin-right: 6px;
      }

      a {
        font-size: 22px;
        color: #FFFFFF;

        &:hover {
          text-decoration: none;
        }

        span {
          font-weight: 900;
          font-size: 22px;
          color: #FFFFFF;
        }
      }

      .phone2 {
        margin-left: 30px;
      }
    }

    .menu {
      @include make-row();
      padding: 0;
      margin: 0;
      list-style-type: none;
      @extend .justify-content-center;

      a {
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        color: #FFFFFF;
        display: block;
        padding: 4px 18px;
        border: 2px solid transparent;
        transition: border .3s;
        border-radius: 40px;

        &:hover {
          text-decoration: none;
          border: 2px solid #F2C94C;
        }

        @include media-breakpoint-up(lg) {
          padding: 10px 13px;
        }
      }
    }
  }

  .section-text1 {
    padding-top: 50px;

    @include media-breakpoint-up(lg) {
      padding-top: 196px;
      background: url("../images/car1.png") no-repeat 0 50%;
      background-size: contain;
      min-height: 44.44vw;
    }

    h1 {
      font-weight: 900;
      line-height: 30px;
      font-size: 30px;
      margin-bottom: 30px;

      @include media-breakpoint-up(xl) {
        line-height: 105px;
        font-size: 100px;
        margin-bottom: 83px;
        padding-left: 32px;
      }
    }

    p {
      opacity: .7;

      @include media-breakpoint-up(xl) {
        padding-left: 168px;
      }
    }
  }

  .section-about {
    @include media-breakpoint-up(xl) {
      padding-top: 120px;
    }

    h2 {
      font-weight: 900;
      font-size: 26px;
      text-transform: uppercase;

      @include media-breakpoint-up(xl) {
        font-size: 76px;
        margin-bottom: 54px;
      }
    }

    p {
      opacity: .7;
    }

    .text-row {
      @include media-breakpoint-up(xl) {
        padding-left: 80px;
      }
    }
  }

  .section-cards {
    padding: 50px 0;

    @include media-breakpoint-up(xl) {
      padding: 0 0 132px 0;
    }


    .card-item {
      width: 270px;
      height: 326px;
      background: #FFFFFF;
      border-radius: 16px;
      margin: 45px auto;
      transition: margin 0.3s;

      &.item1 {
        @include media-breakpoint-up(xl) {
          margin: 295px 0 0 auto;
        }
      }

      &.item2 {
        @include media-breakpoint-up(xl) {
          margin-top: 0;
        }

        .title {
          margin-bottom: 10px;
        }

        .text {
          margin-bottom: 25px;
        }
      }

      &.item3 {
        @include media-breakpoint-down(md) {
          margin-top: 70px;
        }

        @include media-breakpoint-up(xl) {
          margin: -295px auto 0 0;
        }
      }
    }

    .image-holder {
      height: 110px;
      position: relative;

      img {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
      }
    }

    .title {
      font-weight: 900;
      font-size: 22px;
      color: #2F80ED;
      margin-bottom: 17px;
      padding: 0 30px;
    }

    .text {
      color: #000000;
      margin-bottom: 45px;
      padding: 0 30px;
    }

    .more-link {
      color: #2F80ED;
      padding: 0 30px;
    }
  }
}
