// This is an empty scss file for your custom styles - Please add your design styles here
.icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

@import "home-page";
