// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1235px
) !default;

$font-family-sans-serif: Roboto, sans-serif;
$font-weight-base: 300;
$input-placeholder-color: #ffffff;

@keyframes btnBorder {
  from {
    border-color: #FFE600;
    box-shadow: none;
  }
  50% {
    border-color: #ebd200;
    box-shadow: 0 0 3px #ebd200 inset;
  }
  100% {
    border-color: #FFE600;
    box-shadow: none;
  }
}

@keyframes slideInUp {
  0% {
    transform: translate3d(0,100%,0);
  }

  to {
    transform: translateZ(0);
    visibility: visible;
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translate(0, 0%);
    transform: translate(0, 0%)
  }

  25% {
    -webkit-transform: translate(0, 0%);
    transform: translate(0, 0%)
  }

  65% {
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%)
  }

  95% {
    -webkit-transform: translate(0, 0%);
    transform: translate(0, 0%)
  }

  100% {
    -webkit-transform: translate(0, 0%);
    transform: translate(0, 0%)
  }
}
