.section-contacts {
  padding: 0 0 30px 0;

  @include media-breakpoint-up(xl) {
    padding: 87px 0 0 0;
  }

  h2 {
    font-weight: 900;
    font-size: 22px;
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {
      font-size: 48px;
      line-height: 1.3;
    }
  }

  .row-copy {
    font-size: 12px;
    text-transform: capitalize;
    opacity: 0.5;

    @include media-breakpoint-up(xl) {
      @include make-row();
      padding-right: 106px;
    }

    a {
      color: #ffffff;
    }
  }

  .contact-info {
    font-size: 18px;

    @include media-breakpoint-down(md) {
      margin: 18px 0;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 12px;
    }

    .icon {
      width: 22px;
      height: 24px;
      margin-right: 12px;
    }
  }

  .contact_form {
    max-width: 408px;

    @include media-breakpoint-up(lg) {
      padding-top: 20px;
    }
  }

  input {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #85B0EB;
    box-sizing: border-box;
    border-radius: 1px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
    padding: 14px 17px;
    height: auto;
    color: #ffffff;

    &:focus {
      background: rgba(255, 255, 255, 0.4);
    }
  }

  textarea {
    height: 108px !important;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #85B0EB;
    border-radius: 1px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
    padding: 14px 17px;
    resize: none;
    color: #ffffff;

    &:focus {
      background: rgba(255, 255, 255, 0.4);
    }
  }

  .wpcf7-submit {
    width: 92px;
    height: 108px;
    color: transparent;
    background: #13213B url("../images/icon-btn-arr.svg") no-repeat 50% 50%;
    border-radius: 3px;
    margin-left: 12px;

    &:hover,
    &:focus,
    &:active {
      background: #142a45 url("../images/icon-btn-arr.svg") no-repeat 50% 50%;
    }
  }

  .form-col {
    @include make-row();
    flex-wrap: nowrap;
    margin: 0;
  }
}

.contact_form {
  .form-row {
    display: block;
  }

  input,
  textarea {
    width: 100%;
  }
}

span .wpcf7-not-valid {
  border: 1px solid #ff0000 !important;
}

span.wpcf7-not-valid-tip {
  display: none;
}

div.wpcf7-validation-errors {
  display: none !important;
}

div.wpcf7-response-output {
  margin: 15px 0;
  padding: 19px 25px;
  font-weight: 100;
  line-height: normal;
}