.header {
  padding-top: 28px;

  .navbar-toggler {
    @include media-breakpoint-down(sm){
      margin-left: auto;
    }
  }

  .navbar {
    padding: 0;
  }

  .navbar-brand {
    margin: 0;
    padding: 0;
  }

  .phones {
    color: #F2C94C;

    @media (max-width: 768px) {
      padding-left: 15px;
    }

    .icon-phone {
      width: 23px;
      height: 23px;
      stroke: #F2C94C;
      margin-right: 6px;
    }

    a {
      font-size: 22px;
      color: #FFFFFF;

      &:hover {
        text-decoration: none;
      }

      span {
        font-weight: 900;
        font-size: 22px;
        color: #FFFFFF;
      }
    }

    .phone2 {
      margin-left: 30px;
    }
  }

  .menu {
    @include make-row();
    padding: 0;
    margin: 0;
    list-style-type: none;
    @extend .justify-content-center;

    a {
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 12px;
      color: #FFFFFF;
      display: block;
      padding: 4px 18px;
      border: 2px solid transparent;
      transition: border .3s;
      border-radius: 40px;

      &:hover {
        text-decoration: none;
        border: 2px solid #F2C94C;
      }

      @include media-breakpoint-up(lg) {
        padding: 10px 13px;
      }
    }

    .current-menu-item {
      &:not(.contacts-link) {
        a {
          text-decoration: none;
          border: 2px solid #F2C94C;
        }
      }
    }
  }
}
